.area{
	margin-top: 15px !important;
}
nav{
	background-color: #1e88e5 !important;
}

main, footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px){
	header, main, footer {
    	padding-left: 0;
	}
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90% !important;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85% !important;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}
/*
.visible{
visibility: visible;
}

.no-visible{
visibility: hidden;
}
/**/